fastapi[standard]
langchain
ipykernel
python-dotenv
langchain_community
pypdf
pymupdf
bs4
wikipedia
langchain_text_splitters
langchain-openai
faiss-cpu
chromadb
langchain_ollama
langchain_groq
fastapi
uvicorn
tiktoken
PyPDF2
langchain_nvidia_ai_endpoints
pinecone
pinecone_text
langchain_pinecone
pydantic
langchain_core
streamlit
langchain-cohere
python-docx
openpyxl
python-pptx
pillow
unstructured
unstructured-inference
pi-heif
docx2txt
msoffcrypto-tool
pdf2image